/*Contact form on manin pg*/
#contact{
	background-color: $dark-bg;

	input, textarea{
		background-color: $trans;
		color: $tinge;
	}

	.row1{
		color: $text;
		margin: 2% 88px 20px 0%;
	}

	.row2{
		p, a{
			color: $text;
		}

		p{
			margin-right: 14px
		}
	}

	.row-submit{
		input{
			width: inherit;
			margin-right: 88px;
		}
	}
}