/*Contact form on manin pg*/
#contact{
	background-color: $dark-bg;

	input, textarea{
		background-color: $trans;
		color: $tinge;
	}

	.row1{
		color: $text;
		margin: 2% 14px 20px 0%;
	}

	.row-submit{
		input{
			width: inherit;
			margin-right: 14px;
		}
	}
}