/*NAVBAR*/
.bg-nav{
	background-color: $trans;
	border-color: $trans;
	padding: 10px 35px 0px 35px;
}

.logo{
	content: url("../images/society1.png");
	width: 40px;
    margin: 5px 15px 0px 5px;
}

.nav-txt{
	a{
		color: $text !important;
	}
}

.nav-btn{
	background-color: $trans;
    border-width: 2px;
    padding: 4px 17px !important;
    margin-top: 10px;
}

.nav-dropdown{
	background-color: rgba(255, 255, 255, 0.13);
	min-width: 130px;
	text-align: center;
	
    a{
		color: $tinge !important;
	}
}

.logged-in{
	padding: 0 !important;
	content: url("../images/user.png");
	width: 35px;
    margin: 7px;
}