/*NAVBAR*/
.bg-nav{
	background-color: hsla(46, 100%, 54%, 0.2);
	border-color: #FEC616;
}

.logo{
	content: url("../images/society.png");
	width: 45px;
    margin: 2px;
}

.logged-in{
	padding: 0 !important;
	content: url("../images/user.png");
	width: 35px;
    margin: 7px;
}