/*variables*/
$trans: transparent;
$text: white; 
$tinge: #F8B319; //deep-yellow
$dark-bg: rgb(44, 62, 80); //deep blue
$brown-block: rgb(140, 98, 59); //brown
$veil: rgba(0, 0, 0, 0.75); //translucent black layer
$veil-o: rgba(255, 143, 38, 0.65); //translucent orange layer

/*fonts*/

/*partial scss*/
@import 'header';
@import 'welcome';
@import 'rent-sale';
@import 'contact';
@import 'footer';