/*variables*/
$trans: transparent;
$text: white; 
$tinge: #FF8F26; //orang-yellow
$dark-bg: #1E2B38; //deep blue

/*fonts*/

/*partial scss*/
@import 'header';
@import 'welcome';
@import 'contact';
@import 'footer';