<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'/>    
        <meta http-equiv='X-UA-Compatible', content='IE=edge'/>   
        <meta name='viewport', content='width=device-width, initial-scale=1'/>
        <link rel="shortcut icon" href="../images/favicon.ico" />
        <title> CHS</title>
        <!-- Bootstrap -->
        <link href='../vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css', rel='stylesheet'/>  
        <link href='../vendor/font-awesome-4.4.0/css/font-awesome.min.css', rel='stylesheet'/>  
        <link href='../css/main.css', rel='stylesheet'/>
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top bg-nav nav-txt">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="logo" href="#"></a>
                </div>
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Society</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <!-- Add condition "if(user)" so that only a user/admin can view it --> 
                            <li><a href="#">Gallery</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <!-- if(!user) -->
                            <li><a class="btn btn-default nav-btn" href="#" role="button">Login</a></li>
                        <!-- if(user) -->
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle  logged-in" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                              <ul class="dropdown-menu nav-dropdown">
                                <li><a href="#">Tim Brown</a></li>
                                <li><a href="#">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Logout</a></li>
                              </ul>
                            </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of NAVBAR -->

        <!-- WELCOME -->
        <div class="container-fluid welcome-bg text-center">
            <div class="row row1">
                <h1>SOCIETY</h1>
                <p>S.V. Road, Borivli (W)</p>
            </div>

            <div class="row row2">
                <a class="btn btn-default btn1" href="#" role="button">Login</a>
                <a class="btn btn-default btn2" href="#" role="button">Signup</a>
            </div>
        </div>
        <!-- End of WELCOME -->

        <!-- SALE/RENT -->
        <!-- End of SALE/RENT -->

        <!-- CONTACT -->
        <div class="container-fluid" id="contact">
            <div class="row row1">
                <h2 class="text-right">CONTACT</h2>
            </div>
            <div class="row row2">
                <div class="col-md-4 col-xs-12 text-right">
                    <p>
                        <strong>XYZ Society</strong><br>
                        S.V. Road<br>
                        Borivli (W)
                    </p>
                    <p>
                        Tel: 022-28759400
                    </p>
                    <p>
                        <a href="mailto:contact@xyzsociety.com">contact@xyzsociety.com</a>
                    </p>
                </div>

                <form>
                    <div class="col-md-8 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input name="name" type="text" class="form-control" placeholder="Name" /> 
                                </div>
                                <div class="form-group">  
                                    <input name="email" type="email" class="form-control" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <input name="number" type="number" class="form-control" placeholder="Number" />
                                </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <div class="form-group">
                                    <textarea name="text" rows="6" class="form-control" placeholder="Comment"></textarea>
                                </div>  
                            </div>
                        </div>
                        <div class="row row-submit">
                            <div class="form-group">
                                <input type="submit" class="form-control pull-right" value="SUBMIT"/>
                            </div>
                        </div>
                    </div>    
                </form>
            </div>
        </div>
        <!-- End of CONTACT -->


        <!-- FOOTER -->
        <div class="container-fluid footer-bg">
            
        </div>
        <!-- End of FOOTER -->

        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src='../vendor/bootstrap-3.3.5-dist/js/jquery-2.1.4.js'></script>
        <script type="text/javascript" src='../vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js'></script>
    </body>
</html>