<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'/>    
        <meta http-equiv='X-UA-Compatible', content='IE=edge'/>   
        <meta name='viewport', content='width=device-width, initial-scale=1'/>
        <link rel="shortcut icon" href="../images/favicon.ico" />
        <title> CHS</title>
        <!-- Bootstrap -->
        <link href='../vendor/bootstrap-3.3.5-dist/css/bootstrap.min.css', rel='stylesheet'/>  
        <link href='../vendor/font-awesome-4.4.0/css/font-awesome.min.css', rel='stylesheet'/>  
        <link href='../css/main.css', rel='stylesheet'/>
    </head>
    <body>




        <!-- FOOTER -->
        <div class="container-fluid footer-bg">
            <div class="row text-center">
                <footer>
                    <h5>© 2015 Team | Company</h5>
                </footer>
            </div>
        </div>
        <!-- End of FOOTER -->

        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src='../vendor/bootstrap-3.3.5-dist/js/jquery-2.1.4.js'></script>
        <script type="text/javascript" src='../vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js'></script>
    </body>
</html>